@import '../../utils/variables';

.chatContainer {
  background-color: $light;
  width: 80vw;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  .userInfo {
    padding: 0.5rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d8d7d7;
  }

  .texts {
    padding: 0.9em 1.5em;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    background-color: rebeccapurple;
  }

  .inputTexts {
    background-color: rosybrown;
    display: flex;
    // flex-direction: column;
    justify-self: flex-end;
    align-self: flex-end;
    // position: absolute;
    // bottom: 0;
  }
}

.noChat {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  width: 50vw;
  height: 75vh;
  margin-top: 3.5em;
  color: $primary-dark;

  .altImage {
    object-fit: contain;
    overflow: hidden;
    width: 50vw;
    height: 75vh;
  }
}
