.userContainer {
    background-color: blanchedalmond;
    margin: 0.2rem 0.5rem;
    overflow: hidden;
    padding: 0.2rem 0.5rem;
    transition: linear 200ms;
    
    &:hover{
        cursor: pointer;
        transform: translateY(-2px);
    }

    .name {
        font-weight: 600;
    }
}