//main theme
$primary: #7099ff;
$primary-dark: #5c8aff;
$secondary: #8eafff;
$secondary-light: #ccdbfd;

//background
$light: #e2eafc;

$white: #fff;
$grey-light: #bbbaba;
$avatar: #f6a48a;
$avatar-light: #fcd5ce;