div.mainContainer {
  display: flex;
  flex-direction: row;
  background-color: #e2eafc; //theme
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .image {
    object-fit: contain;
  }

  .rightBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .formBox {
      // background-color: snow;
      display: flex;
      flex-direction: column;
      width: 60%;
      padding: 1rem;

      .button {
        background-color: #7099ff;
        color: #fff;
        font-size: 1.1rem;
        align-self: center;
        width: 100%;
        border: none;
        border-radius: 0.2rem;
        padding: 0.7rem;
        outline: none;
        transition: linear 200ms;
        &:hover {
          cursor: pointer;
          background-color: #8eafff;
          transform: translateY(-2.5px);
        }
      }
    }

    .row {
      display: flex;
      flex-direction: row;

      .text {
        margin-left: 0.3rem;
        text-decoration: none;
        font-weight: 700;
        color: #5c8dff;
        transition: linear 200ms;

        :link {
          text-decoration: none;
        }

        :active, :visited {
          color:#8eafff;
        }

        &:hover {
          transform: translateY(-1px);
        }
      }
    }
  }

  .itemRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: flex-start;

    .inputLabel {
      font-size: 0.8rem;
      font-weight: 600;
    }
    .input {
      outline: none;
      border: none;
      width: 97%;
      background-color: #fff;
      border-radius: 0.2rem;
      padding: 0.6rem;
    }
  }
}
