div.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: azure;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .content {
    background-color: #ccd8e7;
    align-items: center;
    padding: 0.5rem;

    .button {
      background-color: #0e62cf;
      color: #fff;
      align-self: center;
      width: 100%;
      border: none;
      padding: 0.4rem;
      outline: none;
      transition: linear 200ms;
      &:hover {
        cursor: pointer;
        background-color: #1354aa;
        transform: translateY(-2px);
      }
    }
  }

  .item-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;

    .input {
      margin-left: 1rem;
      outline: none;
      border: none;
      background-color: #f1f1f1;
      border-radius: 0.2rem;
      padding: 0.6rem;
    }
  }
}
